{% load static %}
{% if sentence_introduction %}
<section id="hero-header" class="section_header">
	<div class="content">
		<div class="left_hero_header">
			<div class="circle">
				<div class="bg_img" data-bg-img="img/header/1.jpg"></div>
				<img src="{{ sentence_introduction.photo }}" alt="" style="z-index:100; opacity:100"/>
				<div class="circle_holder_blue"><span></span></div>
				<div class="circle_holder_orange"><span></span></div>
				<div class="lines">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
		</div>
		<div class="right_hero_header">
			<div class="my_self">
				<h4>{{ sentence_introduction.static_sentence }}</h4>
				<h2>
					<span class="cd-headline clip">
						<span class="cd-words-wrapper">
							{% for item in sentence_introduction.dynamic_sentences.all %}
								{% if item == sentence_introduction.dynamic_sentences.all.0 %}
									<b class="is-visible">{{ item.sentence }}</b>
								{% else %}
									<b>{{ item.sentence }}</b>
								{% endif %}
							{% endfor %}
						</span>
					</span>
				</h2>
			</div>
		</div>
	</div>
</section>
{% endif %}