<section id="contact" class="section_contact">
    <div class="section_title">
        <h3>Contact Me</h3>
    </div>
    <form class="contact_form" action="{% url 'chat:ticket' %}" method="post" autocomplete="off">
        <!--
            Don't remove below code in avoid to work contact form properly.
            You can chance dat-success value with your one. It will be used when user will try to contact via contact form and will get success message.
        -->
        <div class="success" data-success="Your message has been received, we will contact you soon."></div>
        <div class="empty_notice"><span>Please Fill Required Fields!</span></div>
        <!-- -->

        <div class="items_wrap">
            <div class="items">
                {% csrf_token %}
                <div class="item half">
                    <div class="input_wrapper">
                        {{ form.name }}
                    </div>
                </div>
                <div class="item half">
                    <div class="input_wrapper">
                        {{ form.email }}
                    </div>
                </div>
                <div class="item">
                    <div class="input_wrapper">
                        {{ form.phone_number }}
                    </div>
                </div>
                <div class="item">
                    <div class="input_wrapper">
                        {{ form.message }}
                    </div>
                </div>
                <div class="item">
                    <input type="submit" value="Send Message">
                </div>
            </div>
        </div>
    </form>
</section>